:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --slate: #434455;
    --ocean: #404BBF;

    
}

body{
    background-color: var(--white);
    color: var(--slate);
    font-family: 'Roboto';
    font-size: 16px;

}

.text-button{
    position: absolute;
    top: 50%;
    left: 50%;

}

.effective-text{
    color: var(--white);
}


.menu-item-page,.logo-part1
{
    
    float: left;
    padding: 16px;
  }

.contacts-page{
    float: right;
    padding: 16px;
}
  
 .wawd{
    text-align:center;
    padding:16px

 }
    
 .wawd-images{
    display: inline-block;
    padding: 50px;
    
}

.our-team-text{
    text-align: center;
}
.team-profile{
    float: left;
    padding: 40px;
}

.one-list{
    list-style: none;
    display: flex;
    margin: 2.5%;
    
}

  



.logo-part1{
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 900;
    line-height: 1.5;
    text-decoration: none;
    


}

.logo-part2black{
    color: var(--slate);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;
    


}

.logo-part2white{
    color: red;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;

}

.nav-menu-list :hover{
    color: var(--ocean);
    
}
.menu-item-page{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-decoration: none;

    
}

.contacts-page:hover{
    color: var(--white);
    

}

.contacts-page{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;

}


.nav-menu-list {
    color: var(--navyblue);
    font-size: 15px;
    font-weight: 500;
    letter-spacing:0.02em;
    line-height: 1.2;
    list-style: none;
    text-decoration: none;
    
}


.one{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.4px;
}



button:hover{
    cursor: pointer;
}

button{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.contacts-menu {
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    letter-spacing:0.02em;
    line-height: 1;
    text-decoration: none;
    list-style: none;
    font-style: normal;

}

.task-list{
    list-style: none;
}

.team-profile{
    list-style: none;
}

.profile-name{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

}

.profile-post{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

}


.foot-description{
    color: var(--black);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1
    
}

.port-page, .port-main, .port-list{
    list-style: none;
    text-decoration: none;
}

.port-list:hover:{
    color: var(--white);
}

/*.footer{
   color: var(--ocean);
}/*
