:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --slate: #434455;
    --ocean: #404BBF;
}

body{
    background-color: var(--white);
    color: var(--slate);
    font-family: 'Roboto';
    font-size: 16px;

}
.logo-part1{
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;

}

.logo-part2black{
    color: var(--slate);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;


}

.logo-part2white{
    color: var(--white);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;

}

.nav-menu-list{
    list-style: none;
}

.nav-menu-list .item{
    color: var(--navyblue);
    font-size: 15px;
    font-weight: 500;
    letter-spacing:0.02em;
    line-height: 1.2;
    text-decoration: none;
}

.nav-menu-list .item :hover,
.nav-menu-list .item :focus,
.contacts-menu .item :hover,
.contacts-menu .item :focus{
    color: var(--ocean);
}

.contacts-menu .item{
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    letter-spacing:0.02em;
    line-height: 1.2;
    text-decoration: none;

}


